<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mini Chat App</title>
</head>

<body>
    <h1>All Chats</h1>
    <form  method="GET"  action="/chats/new">
        <button class="btn">New Chat</button>
        <br>
    </form>
    <% for(data of datas) { %>
        <div class="chat">
            <p>From: <%- data.from %></p>
            <div class="msg">
                  <p>Message: <%- data.msg %></p>
                  <form method="GET" action="/chats/<%= data._id %>/edit">
                    <button>Edit Message</button>
                  </form>
                    <form method="POST" action="/chats/<%= data._id %>/?_method=DELETE">
                    <button>Delete</button>
                  </form>
            </div>
          
            <p>Received by: <%- data.to %></p>
            <hr>
            <p> <%= data.created_at.toString().split(' ')[4] %></p>
            <p>   <%= data.created_at.toString().split(" ").slice(0,4).join(" ") %></p>

        </div>
        <br>
        <% } %>

</body>

</html>